<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Administração{% endblock %}</title>

    <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'estoque/css/style.css' %}">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- Conteúdo da página -->
        {% block content %}{% endblock %}
    </div>

    {% block extra_scripts %}{% endblock %}
</body>
</html>